<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/stylecontact.css">
    <title>Contact</title>
</head>

<body>
    <div class="container">
        <div class="nav">
            <ul class="listLink">
                <li class="navLink"><a href="/">Home</a></li>
                <li class="navLink"><a href="/projects">Projects</a></li>
                <li class="navLink"><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="titleContainer">
            <h1>Contact Me!</h1>
        </div>
        <div class="contentContainer">
            <form>
                <div class="formRow">
                    <div class="formItem">
                        <label for="name">Name</label>
                        <input type="text" id="name">
                    </div>
                </div>
                <div class="formRow">
                    <div class="formItem">
                        <label for="email">Email</label>
                        <input type="email" id="email">
                    </div>
                </div>
                <div class="formRow">
                    <div class="formItem">
                        <label for="message">Message</label>
                        <textarea id="message"></textarea>
                    </div>
                </div>
                <div class="formRow button">
                    <button>Send</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>