<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styleprojects.css">
    <title>Projects</title>
</head>

<body>
    <div class="container">
        <div class="nav">
            <ul class="listLink">
                <li class="navLink"><a href="/">Home</a></li>
                <li class="navLink"><a href="/projects">Projects</a></li>
                <li class="navLink"><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="titleContainer">
            <h1>My Projects</h1>
        </div>
        <div class="contentContainer">
            <div class="project">
                <div class="imgDiv">
                    <img src="~/img/catbread.jpg" alt="Gato amasando">
                </div>
                <div class="pDiv">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cumque, quos eligendi tempora
                        voluptatem consequatur itaque. Dolor iste mollitia ab quo.</p>
                </div>
            </div>
            <div class="project">
                <div class="imgDiv">
                    <img src="~/img/catmec.jpg" alt="Gato amasando">
                </div>
                <div class="pDiv">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cumque, quos eligendi tempora
                        voluptatem consequatur itaque. Dolor iste mollitia ab quo.</p>
                </div>
            </div>
            <div class="project">
                <div class="imgDiv">
                    <img src="~/img/catsleep.jpg" alt="Gato amasando">
                </div>
                <div class="pDiv">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cumque, quos eligendi tempora
                        voluptatem consequatur itaque. Dolor iste mollitia ab quo.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>