body {
    margin: 0;
    padding: 0;
}
.listLink {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}
li {
    list-style: none;
    color: blue;
    text-decoration: underline;
}
.navLink {
    padding: 0 2rem;
    border-right: 1px solid black;
}

.navLink:last-child {
    border-right: none;
}
.titleContainer {
    padding-top: 1rem;
    text-align: center;
}
.userInfo {
    text-align: center;
}
.profileImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 200px;
    height: 100px;
}
.contentContainer {
    border: solid 1px black;
    margin: 5% 20%;
}
.project {
    display: flex;
    padding: 1%;
}
.pDiv {
    padding: 0 5%;
}